<a href="https://colab.research.google.com/github/tinu1097/Competitve-Coding/blob/main/List_manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nested = {'data': ['finding', 23, ['exercises', 'hangout', 34]], 'window': ['part', 'whole', [], 'sum', ['math', 'calculus', 'algebra', 'geometry', 'statistics',['physics', 'chemistry', 'biology']]]}

In [ ]:
if "data" in nested["data"]:
    data = True
else:
    data = False

In [ ]:

nested_d = {'Beijing':{'China':51, 'USA':36, 'Russia':22, 'Great Britain':19}, 'London':{'USA':46, 'China':38, 'Great Britain':29, 'Russia':22}, 'Rio':{'USA':35, 'Great Britain':22, 'China':20, 'Germany':13}}
london_gold = nested_d['Beijing']['Great Britain']+ nested_d['London']['Great Britain'] + nested_d['Rio']['Great Britain']
print(london_gold)

70

In [ ]:
sports = {'swimming': ['butterfly', 'breaststroke', 'backstroke', 'freestyle'], 'diving': ['springboard', 'platform', 'synchronized'], 'track': ['sprint', 'distance', 'jumps', 'throws'], 'gymnastics': {'women':['vault', 'floor', 'uneven bars', 'balance beam'], 'men': ['vault', 'parallel bars', 'floor', 'rings']}}
v1 = sports["swimming"][2]
v1

'backstroke'

In [ ]:
athletes = [['Phelps', 'Lochte', 'Schooling', 'Ledecky', 'Franklin'], ['Felix', 'Bolt', 'Gardner', 'Eaton'], ['Biles', 'Douglas', 'Hamm', 'Raisman', 'Mikulak', 'Dalton']]
t = []
others = []
for i in athletes:
  for j in i :
    if "t" in j:
      t.append(j)
    else:
      others.append(j)
print(t)
print(others)

['Lochte', 'Bolt', 'Eaton', 'Dalton']
['Phelps', 'Schooling', 'Ledecky', 'Franklin', 'Felix', 'Gardner', 'Biles', 'Douglas', 'Hamm', 'Raisman', 'Mikulak']

In [ ]:
letter_counts = {}
for let in "Mississippi":
  letter_counts[let] = letter_counts.get(let,0)+1
print(letter_counts)

{'M': 1, 'i': 4, 's': 4, 'p': 2}

In [ ]:
let_tup = list(letter_counts.items())
let_tup.sort()
print(let_tup)

[('M', 1), ('i', 4), ('p', 2), ('s', 4)]

In [4]:
def add_fruit(inventory, fruit, quantity=0):
  return add_fruit

 # Make these tests work...
#new_inventory = {}
#add_fruit(new_inventory, "strawberries", 10)
##test("strawberries" in new_inventory)
#test(new_inventory["strawberries"] == 10)
#add_fruit(new_inventory, "strawberries", 25)
#print(x)
#test(new_inventory["strawberries"] == 35)

<function add_fruit at 0x7fc2add51f80>

In [ ]:
def triple(value):
  return 3*value

def triplestuff(a_list):
  new_list = map(triple,a_list)
  return new_list

def quadrle(a_list):
  new_l = map(lambda x: 4*x,a_list)
  return new_l

things = [2,5,9]
x = list(triplestuff(things))
print(x)

[6, 15, 27]

In [ ]:
#abbreves = ["usa","esp","chn","jpn","mex","can","rus","rsa","jan"]
def trans_s(s):
  return s.upper()

abbreves = ["usa","esp","chn","jpn","mex","can","rus","rsa","jan"]
x = list(map(trans_s,abbreves))
print(x)

['USA', 'ESP', 'CHN', 'JPN', 'MEX', 'CAN', 'RUS', 'RSA', 'JAN']

In [ ]:
abbreves = ["usa","esp","chn","jpn","mex","can","rus","rsa","jan"]
x = list(map(lambda x:x.upper(),abbreves))
print(x)

['USA', 'ESP', 'CHN', 'JPN', 'MEX', 'CAN', 'RUS', 'RSA', 'JAN']

In [ ]:
ls = ["witch","cot","moon","wagon"]
def chr(a_list):
  new_l = filter(lambda x:"o" in x,a_list)
  return list(new_l)

In [ ]:
ls = ["witch","cot","moon","wagon"]
y = list(filter(lambda s:"o" in s,ls))
print(y)

['cot', 'moon', 'wagon']

In [ ]:
x = chr(ls)
print(x)

['cot', 'moon', 'wagon']

In [ ]:
lst_check = ['plums', 'watermelon', 'kiwi', 'strawberries', 'blueberries', 'peaches', 'apples', 'mangos', 'papaya']
def add_f(s):
  return "Fruit:"+ s

In [ ]:
lst_check = ['plums', 'watermelon', 'kiwi', 'strawberries', 'blueberries', 'peaches', 'apples', 'mangos', 'papaya']
map_testing = list(map(add_f,lst_check))
print(map_testing)

['fruit:plums', 'fruit:watermelon', 'fruit:kiwi', 'fruit:strawberries', 'fruit:blueberries', 'fruit:peaches', 'fruit:apples', 'fruit:mangos', 'fruit:papaya']

In [ ]:
lst_check = ['plums', 'watermelon', 'kiwi', 'strawberries', 'blueberries', 'peaches', 'apples', 'mangos', 'papaya']
map_testing = list(map(lambda x:"Fruit:"+x,lst_check))
print(map_testing)

['Fruit:plums', 'Fruit:watermelon', 'Fruit:kiwi', 'Fruit:strawberries', 'Fruit:blueberries', 'Fruit:peaches', 'Fruit:apples', 'Fruit:mangos', 'Fruit:papaya']

In [ ]:
countries = ['Canada', 'Mexico', 'Brazil', 'Chile', 'Denmark', 'Botswana', 'Spain', 'Britain', 'Portugal', 'Russia', 'Thailand', 'Bangladesh', 'Nigeria', 'Argentina', 'Belarus', 'Laos', 'Australia', 'Panama', 'Egypt', 'Morocco', 'Switzerland', 'Belgium']
b_countries = list(filter(lambda x:x.startswith("B"),countries))
print(b_countries)

['Brazil', 'Botswana', 'Britain', 'Bangladesh', 'Belarus', 'Belgium']

In [ ]:
people = [('Snow', 'Jon'), ('Lannister', 'Cersei'), ('Stark', 'Arya'), ('Stark', 'Robb'), ('Lannister', 'Jamie'), ('Targaryen', 'Daenerys'), ('Stark', 'Sansa'), ('Tyrell', 'Margaery'), ('Stark', 'Eddard'), ('Lannister', 'Tyrion'), ('Baratheon', 'Joffrey'), ('Bolton', 'Ramsey'), ('Baelish', 'Peter')]
first_name = []
for i in people:
  first_name.append((i[0]))
print(first_name)

['Snow', 'Lannister', 'Stark', 'Stark', 'Lannister', 'Targaryen', 'Stark', 'Tyrell', 'Stark', 'Lannister', 'Baratheon', 'Bolton', 'Baelish']

In [ ]:
people = [('Snow', 'Jon'), ('Lannister', 'Cersei'), ('Stark', 'Arya'), ('Stark', 'Robb'), ('Lannister', 'Jamie'), ('Targaryen', 'Daenerys'), ('Stark', 'Sansa'), ('Tyrell', 'Margaery'), ('Stark', 'Eddard'), ('Lannister', 'Tyrion'), ('Baratheon', 'Joffrey'), ('Bolton', 'Ramsey'), ('Baelish', 'Peter')]
first_names = [i[1] for i in people]
print(first_name)

['Snow', 'Lannister', 'Stark', 'Stark', 'Lannister', 'Targaryen', 'Stark', 'Tyrell', 'Stark', 'Lannister', 'Baratheon', 'Bolton', 'Baelish']

In [ ]:
def keep_even(nums):
  new_list = [num for num in nums if num%2==0]
  return new_list

In [ ]:
print(keep_even([2,5,6,8,9]))

[2, 6, 8]

In [ ]:
def longlenghts(strings):
  new =  [i for i in strings if len(i)>=4]
  return new

In [ ]:
print(longlenghts(["a","ab","klmno","teena"]))

['klmno', 'teena']

In [ ]:
lst = [["hi", "bye"], "hello", "goodbye", [9, 2], 4]
lst2 = [i*2 for i in lst]
print(lst2)

[['hi', 'bye', 'hi', 'bye'], 'hellohello', 'goodbyegoodbye', [9, 2, 9, 2], 8]

In [ ]:
lst = ["hi", "bye"]

In [ ]:
lst*2

['hi', 'bye', 'hi', 'bye']

In [ ]:
students = [('Tommy', 95), ('Linda', 63), ('Carl', 70), ('Bob', 100), ('Raymond', 50), ('Sue', 75)]
passed = [i for i,j in students if j>=70 ]
print(passed)

['Tommy', 'Carl', 'Bob', 'Sue']

In [ ]:
l1 = ['left', 'up', 'front']
l2 = ['right', 'down', 'back']
opposites = [(x1,x2) for x1,x2 in list(zip(l1,l2)) if len(x1)>3 and len(x2)>3]
print(opposites)

In [ ]:
print(opposites)

[('left', 'right'), ('front', 'back')]

In [ ]:
species = ['golden retriever', 'white tailed deer', 'black rhino', 'brown squirrel', 'field mouse', 'orangutan', 'sumatran elephant', 'rainbow trout', 'black bear', 'blue whale', 'water moccasin', 'giant panda', 'green turtle', 'blue jay', 'japanese beetle']
population = [10000, 90000, 1000, 2000000, 500000, 500, 1200, 8000, 12000, 2300, 7500, 100, 1800, 9500, 125000]
pop_info = [(x1,x2)for x1,x2 in list(zip(species,population))]
endangered = [i for i,j in pop_info if j<2500]
print(endangered)

[('golden retriever', 10000), ('white tailed deer', 90000), ('black rhino', 1000), ('brown squirrel', 2000000), ('field mouse', 500000), ('orangutan', 500), ('sumatran elephant', 1200), ('rainbow trout', 8000), ('black bear', 12000), ('blue whale', 2300), ('water moccasin', 7500), ('giant panda', 100), ('green turtle', 1800), ('blue jay', 9500), ('japanese beetle', 125000)]
['black rhino', 'orangutan', 'sumatran elephant', 'blue whale', 'giant panda', 'green turtle']

In [ ]:

lst_check = ['plums', 'watermelon', 'kiwi', 'strawberries', 'blueberries', 'peaches', 'apples', 'mangos', 'papaya']
map_testing = list(map(lambda x:"fruit:"+x,lst_check))
print(map_testing)

['fruit:plums', 'fruit:watermelon', 'fruit:kiwi', 'fruit:strawberries', 'fruit:blueberries', 'fruit:peaches', 'fruit:apples', 'fruit:mangos', 'fruit:papaya']